



nav {
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
  /* filter: blur(30px) brightness(5); */
  /* backdrop-filter: blur(30px) brightness(2); */
}

.nav-links {
  padding: 0 0.7vw;
}

.nav-links li a {
  text-decoration: none;
}

.nav-links ul {
  /* position: relative; */
  font-size: 15px;
  font-weight: 500;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.custom-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFAA17 48.5%, rgba(153, 153, 153, 0) 100%);
  border-image-slice: 1;
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    justify-content: normal;
    background: #131418;
    height: 100vh;
    padding-top: 20px;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 1;
    padding-top: 50px !important;
  }

  .nav-links ul {
    flex-direction: column;
  }


  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}