@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-disc;
  }
}

@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyThin";
  src: local("GilroyThin"),
    url("./fonts/Gilroy-Thin.ttf") format("truetype");
}


@font-face {
  font-family: "GilroyExtraBold";
  src: local("GilroyExtraBold"),
    url("./fonts/Gilroy-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url("./fonts/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: local("Gilroy-SemiBold"),
    url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
}
.Gilroy-SemiBold{
  font-family: "Gilroy-SemiBold";
}

.Gilroy-Bold {
  font-family: "GilroyBold";
}

.Gilroy-Regular {
  font-family: "GilroyRegular";
}

.Gilroy-Thin {
  font-family: "GilroyThin";

}

.Gilroy-ExtraBold {
  font-family: "GilroyExtraBold";

}

.Gilroy-Black {
  font-family: "GilroyBlack";

}
