@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-disc;
  }
}



@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyThin";
  src: local("GilroyThin"),
    url("./fonts/Gilroy-Thin.ttf") format("truetype");
}

.Gilroy-Bold {
  font-family: "GilroyBold";
}

.Gilroy-Regular {
  font-family: "GilroyRegular";
}

.Gilroy-Thin {
  font-family: "GilroyThin";
}