@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-disc;
  }
}

@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyThin";
  src: local("GilroyThin"),
    url("./fonts/Gilroy-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyExtraBold";
  src: local("GilroyExtraBold"),
    url("./fonts/Gilroy-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyBlack";
  src: local("GilroyBlack"),
    url("./fonts/Gilroy-Black.ttf") format("truetype");
}

@font-face {
  font-family: "GilroySemiBold";
  src: local("GilroySemiBold"),
    url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
}


.Gilroy-Bold {
  font-family: "GilroyBold";
}

.Gilroy-Regular {
  font-family: "GilroyRegular";
}

.Gilroy-Thin {
  font-family: "GilroyThin";

}

.Gilroy-ExtraBold {
  font-family: "GilroyExtraBold";

}

.Gilroy-Black {
  font-family: "GilroyBlack";

}

.Gilroy-SemiBold {
  font-family: "GilroySemiBold";

}